{% load static %}

    <!-- Navbar Start -->

    <div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5 pe-lg-0">
        <nav class="navbar navbar-expand-lg bg-dark bg-light-radial navbar-dark py-3 py-lg-0">
            <a href="{% url 'home' %}" class="navbar-brand">
                <h1 class="m-0 display-4 text-uppercase text-white"><i class="bi bi-building text-primary me-2"></i>RENOGAGNE</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Reno Interieur</a>
                        <div class="dropdown-menu m-0">
                            
                            {% for service in services %}
                                {% if service.status == "interieur" %}
                                    <a href="{% url 'service' service.id %}" class="dropdown-item">{{service.name}}</a>
                                {% endif %} 
                            {% endfor %}
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Reno Exterieur</a>
                        <div class="dropdown-menu m-0">
                
                            {% for service in services %}
                                {% if service.status == "exterieur" %}
                                    <a href="{% url 'service' service.id %}" class="dropdown-item">{{service.name}}</a>
                                {% endif %} 
                            {% endfor %}
                        </div>
                    </div>
                    
                    <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                    <a href="#soumission" class="nav-item nav-link bg-primary text-white px-5 ms-3 d-none d-lg-block">DEMANDER UN APPEL  <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </nav>
    </div>
           
    <!-- Navbar End -->